* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
}

.container {
  height: 70vh;
  display: grid;
  place-items: center;
}

.conteudo-1 {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #21eb00;
}

h1 {
  margin-bottom: 30px;
  font-size: 36px;
}

p {
  color: silver;
  margin-bottom: 15px;
  font-size: 18px;
}

#input-data {
  background-color: #6d6d6d52;
  width: 100%;
  height: 40px;
  color: white;
  text-transform: uppercase;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
}

.btn {
  height: 40px;
  background-color: #21eb00;
  padding: 5px 15px;
  font-weight: 600;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#btn-iniciar {
  width: 100%;
}

/* Página contador ===================================== */

#box-contador-2 {
  padding: 30px;
}

.conteudo-2 {
  color: #21eb00;
}

#header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.text {
  text-align: center;
  font-size: 50px;
  color: rgba(192, 192, 192, 0.185);
}

#contagem {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.tempo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numero {
  color: white;
  font-size: 120px;
}

.tipo {
  color: #21eb00;
  font-size: 30px;
}
